<header class="header">
    <div class="header__body">
        <form action="#" class="search header__search hide">
            <input aria-label="search" autocomplete="off" type="search" name="form[]" placeholder="Search for news.." class="search__input">
            <button aria-label="search button" type="submit" class="search__button">
                <svg class="search__icon">
                    <use href="@content/icons/sprite.svg#search"></use>
                </svg>
            </button>
        </form>
        <button aria-label="search button" type="submit" class="search__button search__button--1">
            <svg class="search__icon">
                <use href="@content/icons/sprite.svg#search"></use>
            </svg>
        </button>
        <a href="#" data-da=".sidebar__widgets, 768" class="header__button">
            Latest news on <span> Covid-19</span>
            <svg class="header__icon">
                <use href="@content/icons/sprite.svg#arrow-right"></use>
            </svg>
        </a>
    </div>
    <div class="profile header__profile">
        <div class="profile__body">
            <svg class="profile__user">
                <use href="@content/icons/sprite.svg#user"></use>
            </svg>
            <a href="#" class="profile__name">My Profile</a>
        </div>
        <svg class="profile__arrow">
            <use href="@content/icons/sprite.svg#arrow"></use>
        </svg>
    </div>
    <button aria-label="open menu" type="button" class="icon-menu header__icon-menu">
        <span class="icon-menu__line"></span>
    </button>
</header>